
  .dropzone-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    background-color: #f7f7f7;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 1.5rem;
  }
  
  .file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .file-label:hover::before {
    border-color: #666;
  }
  
  .selected-label {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #333;

    border-radius: 5px;
    padding: 0.5rem 1rem;

  }

  .remove-button {
    border: 0.1px solid #ff0037;
    color: #ff0037;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s;
    
  }
  .remove-button:hover {
    background-color: #ff0037;
    color: #fff;
  }

  .remove-button.disabled
    {
        border: 0.1px solid #ccc;
        color: #ccc;
        cursor: not-allowed;
    }

  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
  }

    .submit-button.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
  
  .submit-button:hover {
    background-color: #0062cc;
  }
  
  .error-message {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .loading-spinner {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .output-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin: 1rem;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }

  
  .output-message {
    font-size: 1.2rem;
    text-align: left;
    margin: auto;
    padding: 1rem 0;
  }
  
  .output-image {
    max-width: 100%;
    height: auto;
  }
  
  .download-link {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .download-link:hover {
    background-color: #0062cc;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    background-color: #f7f7f7;
    cursor: pointer;
    width: 500px;
  }

  
  .dropzone.hover {
    border-color: #0077c0;
    background-color: #eaf2fa;
    color: #0077c0;
   
  }

  .dropzone.accept {
    border-color: #00b200;
  }
  
  .dropzone.reject {
    border-color: #ff5050;
  }
  